* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 20vh;
  display: flexbox;
}

.navbar1 {
  background-color: #049a86;
  height: 60%;
}

.navbar2 {
  height: 40%;
}

.reclame {
  display: flex;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.primul-mesaj,
.nr-telefon,
.contact,
.reclamatii {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
  cursor: pointer;
}
.primul-mesaj {
  flex: 40%;
}

.nr-telefon {
  flex: 30%;
}

.reclamatii {
  flex: 20%;
}

.contact {
  flex: 10%;
}
.primul-mesaj:hover, .nr-telefon:hover, .contact:hover, .reclamatii:hover{
    color: yellow;
}

.tipuri-meniuri {
  display: flex;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.button {
        display: flex;
        flex:12.5%;
        justify-content: center;
        align-items: center;
        font-family: 'Copperplate', fantasy;
        font-size: 1rem;
        color: rgb(111, 229, 56);
        cursor: pointer;
}

.button:hover{
    color: red;
    background-color: rgb(255, 255, 12);
}


.footer {
    background-color: aqua;
    display: flex;
    align-items: center;
    height:5vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.despre-noi, .info-utile, .vouchere {
    flex: auto;
    display: inline-block;
    text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

}

.pagina {
  width: 100%;
  height: 100%;
}

#pizza{
  display: flex;
  background-color: cadetblue;
}
#paste, #salate, #desert,#bauturi,#promotii,#taxa,#conectare {
  background-color: red;
  display: none;
}